.table-admin {
    svg{
        width:180px !important; 
        height:180px !important;

        &.busy {
            fill: #00bbab ;
          }
          &.pending {
            fill: #f9d876 ;
          }
          &.pending-payment {
            fill: #f2935c ;
          }
    }
}
