.table-admin {
    svg{
        width:200px !important; 
        height:120px !important;

        &.busy {
            fill: #00bbab;
          }
          &.pending {
            fill: #f9d876;
          }
          &.pending-payment {
            fill: #008000;
          }
    }
}
